<div class="mainHeader">
    <div class="header">
        <div class="headerFirst">
            <div class="title">
                <span routerLink="">seeka</span>
            </div>
            <div class="searchIcon">
                <img src="../../assets/icons/searchicon.png" alt="">
                <input type="text" name="search" placeholder="Search"> 
            </div>
        </div>

        <div class="headerSecond">
            <div class="homeFirst">
                <div class="icon">
                    <i class="fas fa-home"></i>
                </div>
                <div class="iconTitle">
                    Home
                </div>
            </div>

            <div class="home">
                <div class="icon">
                    <i class="fab fa-telegram-plane"></i>
                </div>
                <div class="iconTitle">
                    Apply
                </div>
            </div>

            <div class="home">
                <div class="icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                <div class="iconTitle">
                    My People
                </div>
            </div>

            <div class="home">
                <div class="icon">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <div class="iconTitle">
                    Messages
                </div>
            </div>

            <div class="home">
                <div class="icon">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="iconTitle">
                    Notifications
                </div>
            </div>

            <div class="homeLast">
                <div class="icon">
                    <img class="meImage" src="../../assets/images/drew-university.jpg" alt="">
                </div>
                <div class="iconTitle">
                    <span>Me</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            <div class="vLine"></div>

            <div class="lastItem">
                <div class="icon">
                    <i class="fas fa-th"></i>
                </div>
                <div class="iconTitle">
                    <span>Place</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>

    </div>
</div>