<div class="mainMenu">
    <div class="menu">
        <div class="scholershipFirst" routerLink="/scholarship">
            <p>Scholarship</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>

        <div class="scholership" routerLink="/country">
            <p>Country</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>

        <div class="scholership" routerLink="/deadline">
            <p>Deadline</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>

        <div class="scholership" routerLink="/institution">
            <p>Institution</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>

        <div class="scholership" routerLink="/studyLevel">
            <p>Study Level</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>

        <div class="scholership" routerLink="/validity">
            <p>Validity</p>
            <img src="../../assets/icons/dropdown.png" alt="">
        </div>
    </div>
</div>